In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('car_evaluation.csv',header=None)
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1728 non-null   object
 1   1       1728 non-null   object
 2   2       1728 non-null   object
 3   3       1728 non-null   object
 4   4       1728 non-null   object
 5   5       1728 non-null   object
 6   6       1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [4]:
df.describe()

           0     1     2     3     4     5      6
count   1728  1728  1728  1728  1728  1728   1728
unique     4     4     4     3     3     3      4
top      low   low     2     2   med   low  unacc
freq     432   432   432   576   576   576   1210

In [5]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
df.columns = col_names

In [6]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [7]:
df.nunique()

buying      4
maint       4
doors       4
persons     3
lug_boot    3
safety      3
class       4
dtype: int64

In [8]:
for i in df.columns:
    print(df[i].unique())

['vhigh' 'high' 'med' 'low']
['vhigh' 'high' 'med' 'low']
['2' '3' '4' '5more']
['2' '4' 'more']
['small' 'med' 'big']
['low' 'med' 'high']
['unacc' 'acc' 'vgood' 'good']

In [9]:
#pip install --user pandas-profiling

In [10]:
from pandas_profiling import ProfileReport

In [11]:
profile = ProfileReport(df,title = 'EDA report',explorative=True)
profile.to_widgets()
profile.to_file("output.html")

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [16]:
import category_encoders as ce

In [17]:
encoder = ce.OrdinalEncoder()
df1 = encoder.fit_transform(df)

In [18]:
df1.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       1      1      1        1         1       1      1
1       1      1      1        1         1       2      1
2       1      1      1        1         1       3      1
3       1      1      1        1         2       1      1
4       1      1      1        1         2       2      1

In [20]:
for i in df1.columns:
    print(df1[i].unique())

[1 2 3 4]
[1 2 3 4]
[1 2 3 4]
[1 2 3]
[1 2 3]
[1 2 3]
[1 2 3 4]